/* single-column layout */
body{
    display: grid;
    grid-template-areas: "header" 
                                        "main"
                                        "nav"
                                        "footer";
    grid-template-rows: auto 1fr auto auto;
}


/* card-container with fixed height */
.cards-container{
    min-height: max-content;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-w-100{
    width: 100%;
}

.txt-color-green{
    color: green;
}

/* aside: cart placed at bottom by default */
.aside{
    padding: 40px 16px 40px 16px;
    background-color: var(--white);
    border-right: 0;
    margin-right: 10px;
}

.aside .card-filter-category{
    min-width: 0;
    max-width: none;
    width: 100%;
    justify-content: space-between;
}

.aside-navbar{
    transform: translateX(0);
}

/* aside-navabr cart-items */
.cart-items-category{
    display: flex;
    align-items: center;
    column-gap: var(--size-6);
    min-width: 60%;
    max-width: max-content;
}

/* expanding the buttons into column direction*/
.card-action-btns.align-center-and-space-between,
.btn-secondary.align-center-and-space-between{
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

.card-action-btns.align-center-and-space-between > button{
    width: 100%;
}

@media (min-width:768px) {

    /* three-column layout */
    body {
        grid-template-areas: "header header header"
            "main main nav"
            "footer footer footer";
        grid-template-columns: 1fr 4fr 2fr;
        grid-template-rows: auto 1fr auto;
    }

    .cards-container {
        min-height: 0;
        max-height: initial;
        overflow: hidden;
    }
    
}
